
UL.seleccionados{
    color: darkslateblue;
}


IMG.step{
    float: left;
    width:  21px;
    margin-left: -10px;
    margin-top: -10px;
    
}

#resultados{
    min-height: 50px;
}

.filtro{
    padding:3px 10px 3px 10px;
    margin:0px 5px 5px 0px;
    display: block;
}

.filtro span{
    float:left;
}

.filtro span strong {
    margin-right: 5px;
    float:left;
}

.filtro a{
    float:right;
    text-decoration: none;
    width: 10px;
    margin-right: 30px;
}

#filtro label{
}

.filtros-aplicados{
    padding: 5px !important;
    margin-top: 0px !important;
    float: left;
    margin-left: 5px;
    border-left: 1px solid silver;
    width: 37%;
}

H3{
    clear: both;
    width: 80%;
}

H2{
    clear: both;
}

.jquery-checkbox {display: inline-block; font-size: 20px; line-height: 25px;}
.jquery-checkbox .mark {display: inline;}
.jquery-checkbox img {vertical-align: middle; width: 25px; height: 25px;}
.jquery-checkbox img{background: transparent url(img/check_box_empty.png) no-repeat;}
.jquery-checkbox-checked img{background-image: url(img/check_box.png)}

.results li span b span b{
    font-size: 1.2em;
}
.titulo_label{
    display:inline-block;
    vertical-align: middle;
    margin-top: 3px;
    margin-bottom: 6px;
    font-size: 1.2em;
    color: #58585A;
    width:90%;
}

.results li, .seleccionados li{
    list-style: none;
    list-style-image: none; /*IE*/
}

#li_instits, #li_titulos{
    min-height: 150px;
    padding-right: 5px;
}

#li_instits ul li{
    /*list-style: disc outside url("img/listitem.gif"); */
    margin-bottom: 5px;
    /*margin-left: 20px;*/
}

#li_titulos ul li :hover{
    color:black;
    cursor: pointer; cursor: hand;
}
#li_instits ul li :hover{
    color:black;
    cursor: pointer; cursor: hand;
}
.items-nombre a {
    color: #58585a;
    text-decoration: none;
    font-size: 9pt;
}
#li_instits a :hover {
    color:black;
    text-decoration: none;
}

.boxblanca{
    padding:2px 0px 5px 5px;
}

.boxgris{
    padding-bottom: 13px;
}

.msj-vacio{
    display:none;
}

.asterisk{
    color:red;
    font-weight: bold;
}


.seccion div, .seccion h4{
    margin-left: 8px;
}

.paginator .count {
    font-size: 11pt;
}

.paginator a {
    color: #58585a;
}

.deleteable {
    font-size: 8pt;
    font-weight: bold;
    padding-left: 4px;
    float: right;
}

input[type=text], textarea, select{
    width: 90%;
}

ol, ul {
    padding-left: 0px;
}

#sin_filtros {
    margin-top: 4px;
}

.criterios_aplicados{
    color:#B1CC31;
    font-size: 10pt;
    font-weight: bold;
    margin-top:5px;
    margin-right: 5px;
    margin-bottom: 3px;
}

#filtro{
    /*padding-top: 8px;*/
    padding-bottom: 15px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
    width: 57%;
}

#filtro #filtrosContainer{
    font-size: 0.9em;
}

.add_filter{
    cursor:pointer;
    font-size: 9pt;
    margin-left: 2px
}

#items {
    padding: 0;
}
#items li {
    border-bottom: 1px dashed #CDCDCD;
    height: auto !important;
    margin: 0;
    position: relative;
    margin-left: 5px;
}
#items li:hover{
    color: #000000;
}

.seleccionados li {
    border-bottom: 1px dashed darkblue;
    height: auto !important;
    margin: 0;
    position: relative;
    margin-left: 5px;
}

.list-header {
    border-bottom: 1px groove #58585A;
    padding-bottom: 5px;
    padding-top: 10px;
}
.list-header .sorter {
    width: 60%;
    float: left;
}
.list-header .paging {
    width: 40%;
    float: left;
}

.items-nombre {
    text-align:left;
    font-size: 9pt;
    font-weight: bold;
}
.items-oferta {
    text-align:left;
    clear: both;
    font-size: 9pt;
}

.results_titulos, .results_instits{
    min-height: 110px;
}

.selected_title{
    background-color: #ECF4F9;
}

label{
    clear:none;
}

input[type=radio]{
    float:left;
}

#ofertas_section label{
    text-decoration: none !important;
}
#gestion_section label{
    float:left;
    text-decoration: none !important;
}

.results li a{
    color:#58585A;
    text-decoration:none
}

.results li a:hover{
    color:black;
}