
dt{
    font-weight: bold;
    margin-right: 10px;
    width:160px;
}

dd{
    margin-bottom: 5px;
    margin-left: 0; 
}

dd ul{
    margin: 0px;
    padding: 0px;
}


.titulo_name{
    color: #b1cc2f;
    font-weight: bolder;
}


.alerta-desactualizada{   
    text-decoration: none;
    cursor: hand;
}



.titulo div, .detalles div {
    margin: 5px 0 5px 0;
}

.titulo div p, .detalles div p {
    display:inline;
    width: 200px;
    margin: 0;
}

.titulo div ul, .detalles div ul{
    display: inline-block;
    margin-top: 5px;
    margin-left: 0;
    width: 200px;
    -moz-padding-start : 0;
    -webkit-padding-start : 0;
}



.detalles{
    margin: 20px 0 20px 0;
}
.detalles h3 {
    padding: 10px 0 0px 14px;
    margin: 0px;
}



.marcada {
    font-weight: bold;
}
.marcada a {
    text-decoration: none;
    color: #58585A;
}

#items li a {
    text-decoration: none;
    color: #58585A;
}
#items li a:hover{
    color: #000000;
}
.items-nombre {
    font-size: 9pt;
    font-weight: bold;
    width: auto;
}

.items-domicilio {
    font-size: 9pt;
    font-weight: normal;
}
.items-gestion {
    float: left;
    font-size: 9pt;
    font-style: italic;
    font-weight: normal;
}

.items-actions {
    padding-top: 8px; 
    float: right;
}

#boxAyuda{
    margin-top: 15px;
}

cite{
    color:#b1cc2f;
}

.titulosview ul {
    padding-left: 30px;
}


ul.titulos-list{
}
ul.titulos-list li{
    border-bottom: 1px dashed #CDCDCD;
    cursor: pointer;
    height: auto !important;
    margin: 0;
    padding: 3px 0;
    position: relative;
}
ul.titulos-list li:hover{
    color:black;
}

ul.titulos-list li .mas_info_azul_small, ul.titulos-list li .mas_info_gris_small{
    cursor: pointer;
    float: right;
}


.ficha_info{
    min-height: 158px;
    border: 0 none;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
    width: 50%;
}

.ficha_info.right{
    border-left: 1px solid silver;
    width: 50%;
    margin-left: -11px;
    padding-left: 10px;
}