
.nav {
   background: transparent repeat-x 0 -110px;
   z-index: 4000;
   padding: 0px;
   margin: 0px;
}

.nav li {
    margin: 0px 3px;
    padding: 0 0 0px;
    float: left;
    position: relative;
    list-style: none;
    text-align: center;
}


/* main level link */
.nav a {
    background: #0082ca;
    font-weight: bold;
    color: #e7e5e5;
    text-decoration: none;
    display: block;
    padding-top: 13px;
    padding-bottom: 13px;
    margin: 0;
    -webkit-border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    outline: none;
    /*text-shadow: 0 1px 1px rgba(0,0,0, .3);*/
}
.nav a:hover {
    color: #fff;
}

/* main level link hover */
.nav .current a, .nav li:hover > a {
	background: #f1f1f2;
	color: #25abe1;	
}

/* sub levels link hover */
.nav ul li:hover a, .nav li:hover li a {
	background: #F1F1F2;
	border: none;
	color: #55565A;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.nav ul a:hover {	
	color: #25abe1 !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 0 1px 1px rgba(0,0,0, .1);
        
}

/* dropdown */
.nav li:hover > ul {
	display: block;
        font-size: 0.7em;
}

/* level 2 list */
.nav ul {
	display: none;
	margin: 0;
	padding: 0;
	width: 140px;
	position: absolute;
	
	left: 0;
	background: #F1F1F2 repeat-x 0 0;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
        font-size: 9pt;
        z-index: 98;
}
.nav ul li {
	float: none;
	margin: 0;
	padding: 0;
        background-color: transparent;
}

.nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
        background-color: #F1F1F2;
        color: #58585a;
}

/* level 3+ list */
.nav ul ul {
        position: absolute;
	left: 140px;
	top: -3px;
}

.nav ul li{
    font-size: 9pt;
}

/* rounded corners of first and last link */
.nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;        
}
.nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}

/* clearfix */
.nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

 
* html .nav {
	height: 1%;
}




/****************************************************************************

SUPERFISH JQUERY PLUGIN

*******************************/

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
}
.sf-menu {
	
}
.sf-menu ul {	
	
}
.sf-menu ul li {
	
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {	
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {	
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {	
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	
	
}
.sf-menu a {	
	
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	
}
.sf-menu li {
	
}
.sf-menu li li {
	
}
.sf-menu li li li {
	
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.3em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent:            -999em;
	overflow:		hidden;
	background:		url('../img/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */	
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	/*-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;*/
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

.menu-item{
   padding-left:15px;
   padding-right: 15px;
}